<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.app.repository.HouseLogRepository">


    <select id="selectOne" parameterType="Integer" resultType="HouseLogDto">
        SELECT * FROM houselog WHERE log_id=#{logId}
    </select>
    <select id="select" resultType="HouseLogDto">
        SELECT * FROM houselog
    </select>
    <insert id="insert" parameterType="HouseLogDto">
        INSERT INTO houselog VALUES (#{logId},#{houseId},#{houseCat},#{houseValue},SYSDATE())
    </insert>
<!--    <update id="update" parameterType="HouseLogDto">-->
<!--        UPDATE houselog SET-->
<!--    </update>-->
    <delete id="delete" parameterType="Integer">
        DELETE FROM houselog WHERE log_id=#{logId}
    </delete>

</mapper>